<!-- history.html -->
{% extends 'base.html' %}
{% block content %}
<div class="h-screen container flex flex-col items-center justify-center">
    <p class="font-bold text-3xl text-center">История поиска</p>

    <!-- Секция с закладками -->
    <div class="mt-4 w-full">
        <p class="font-semibold text-xl">Закладки</p>
        <ul class="mt-2">
            {% for history in bookmarks %}
                <li class="flex justify-between items-center mb-4 p-4 bg-yellow-100 rounded-lg">
                    <span>{{ history.query }}</span>
                    <div class="flex space-x-2">
                        <a href="https://www.google.com/search?q={{ history.query }}" class="bg-blue-500 text-white px-4 py-2 rounded-full">Поискать в Google</a>
                        <form action="{% url 'toggle-bookmark' history.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-full">
                                Удалить закладку
                            </button>
                        </form>
                        <form action="{% url 'delete-search' history.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="bg-gray-500 text-white px-4 py-2 rounded-full">
                                Удалить
                            </button>
                        </form>
                    </div>
                </li>
            {% empty %}
                <p>No bookmarks yet.</p>
            {% endfor %}
        </ul>
    </div>

    <!-- Секция с обычными запросами -->
    <div class="mt-4 w-full">
        <p class="font-semibold text-xl">Другие поиски</p>
        <ul class="mt-2">
            {% for history in histories %}
                <li class="flex justify-between items-center mb-4 p-4 bg-gray-100 rounded-lg">
                    <span>{{ history.query }}</span>
                    <div class="flex space-x-2">
                        <a href="https://www.google.com/search?q={{ history.query }}" class="bg-blue-500 text-white px-4 py-2 rounded-full">Go to Google</a>
                        <form action="{% url 'toggle-bookmark' history.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="bg-yellow-500 text-white px-4 py-2 rounded-full">
                                Добавить в закладку
                            </button>
                        </form>
                        <form action="{% url 'delete-search' history.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="bg-gray-500 text-white px-4 py-2 rounded-full">
                                Удалить
                            </button>
                        </form>
                    </div>
                </li>
            {% empty %}
                <p>Пока нет истории поиска (</p>
            {% endfor %}
        </ul>
    </div>

    <!-- Кнопка для очистки всей истории -->
    <div class="mt-6">
        <form action="{% url 'clear-history' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-full">
                Очистить истории
            </button>
        </form>
    </div>
</div>
{% endblock %}
