<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Search</title>
</head>
<body>
<div class="h-screen container flex flex-col items-center justify-center">
    <p class="font-bold text-3xl text-center">MC Browser</p>
    <form action="https://www.google.com/search" method="get" class="mt-4">
        <input
            class="shadow-xl mx-auto text-white bg-red-500 rounded-full border-none outline-none px-4 py-2"
            type="text"
            name="q"
            placeholder="Search on Google"
            required
        />
    </form>
</div>
</body>
</html>
